%tr
  %td= ticket.id
  %td= ticket.request_number
  %td= ticket.sequence_number
  %td= ticket.request_type
  %td= l(ticket.response_due_date_time)
  %td= l(ticket.created_at)
  %td= link_to(t('.show'), ticket_path(ticket))
