:css
  #map {
    height: 500px;
  }

:javascript
  var TicketsMap = (() => {
    const getPolygonBounds = (polygon) => {
      const bounds = new google.maps.LatLngBounds();
      const paths = polygon.getPaths();

      paths.forEach((path) => {
        path.forEach((point) => {
          bounds.extend(point);
        });
      });

      return bounds;
    }

    const init = () => {
      const coords = #{@ticket.polygon_coordinates.to_json};
      const polygon = new google.maps.Polygon({
        paths: coords,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35
      });
      const map = new google.maps.Map(document.getElementById('map'), {
        mapTypeId: 'terrain'
      });

      map.fitBounds(getPolygonBounds(polygon));
      polygon.setMap(map);
    }

    return { init };
  })();

%script(src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_api_key}&callback=TicketsMap.init" async defer)

%h1= t('.title')
= link_to(t('.index'), tickets_path)
.my-2
  .row
    .col-3= Ticket.human_attribute_name(:id)
    .col-9= @ticket.id
  .row
    .col-3= Ticket.human_attribute_name(:request_number)
    .col-9= @ticket.request_number
  .row
    .col-3= Ticket.human_attribute_name(:sequence_number)
    .col-9= @ticket.sequence_number
  .row
    .col-3= Ticket.human_attribute_name(:request_type)
    .col-9= @ticket.request_type
  .row
    .col-3= Ticket.human_attribute_name(:response_due_date_time)
    .col-9= l(@ticket.response_due_date_time)
  .row
    .col-3= Ticket.human_attribute_name(:primary_service_area_code)
    .col-9= @ticket.primary_service_area_code
  .row
    .col-3= Ticket.human_attribute_name(:additional_service_area_codes)
    .col-9= @ticket.additional_service_area_codes.to_sentence
  .row
    .col-3= Ticket.human_attribute_name(:created_at)
    .col-9= l(@ticket.created_at)

.my-2
  %h4= t('.excavator')
  .row
    .col-3= Excavator.human_attribute_name(:company_name)
    .col-9= @ticket.excavator.company_name
  .row
    .col-3= Excavator.human_attribute_name(:full_address)
    .col-9= @ticket.excavator.full_address
  .row
    .col-3= Excavator.human_attribute_name(:crew_onsite)
    .col-9= @ticket.excavator.crew_onsite
  .row
    .col-3= Excavator.human_attribute_name(:created_at)
    .col-9= l(@ticket.excavator.created_at)

#map(style="height: 100px, width: 100 px")
